
body {
    font-family: 'Bitstream Vera Sans', Verdana, sans-serif;
    font-size: 12;
    color: #103809;
    /*background: #3C0109;
    color: #fff;*/
    text-align: justified;
    background-color: transparent;
    overflow: hidden;
}
